.six-day-forecast {
  margin: 5% 28%;
  border-radius: 20px;
  font-size: 1.8vw;
  font-family: "Oswald", sans-serif;
  color: #1f65af;
  background-color: white;
}

.forecast-title {
  text-align: center;
  padding: 25px;
  font-size: 2.4vw;
  font-weight: bold;
  color: #1f65af;
  font-family: "Lobster";
}
#forecast {
  color: #1f65af;
}
#numbers-maximum,
#numbers-minimum {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
.degree {
  margin: 1% 12%;
}
.week-weather {
  font-size: 18px;
  background: white;
  margin: 4% 12%;
}
.time {
  font-size: 22px;
  font-weight: bold;
  margin: 12%;
}
.icon {
  margin: 1% 12%;
}
